<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <title>DevKit | Dashboard</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/cropiq.min.css' %}" rel="stylesheet">

    <style type="text/css">

h6  { padding: 7px;}
@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

* {
   font-family: myFirstFont;
}
hr {
  border: 2px dashed  #d1d1d1;
  border-radius: 2px;
}
</style>

</head>
<body>
<!-- Nav started -->
 <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                     <h5><a href="/" style="color:white;">DevKit</a></h5>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFGiJ_tIEbFuvt7J7d17ldDOetn-PZteEIDQ&usqp=CAU" style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">{{request.user.first_name|title}}&nbsp;{{request.user.last_name|title}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
<!-- Nav ended -->
<!-- form start -->
 <div class="container-login">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-12 col-md-9">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-form">
                                     <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Select Login Form for your Web application</h1>
                                    </div>
                                        <form class="user" method="post">
                                            {% csrf_token %}
                                            {% for id,temp_address in loginform_options.items %}
                                          <input type="radio" id="loginform_{{id}}" name="loginform_id" value="{{id}}">
                                          <label for="loginform_{{id}}">
                                                Login Form {{id}}
                                          </label> &#160; &#160; &#160; &#160;
                                            {% endfor %}
                                            <button type="submit" class="btn btn-primary">Continue</button>
                                        </form>
                                             {% for id,temp_address in loginform_options.items %}
                                          <h3 style="font-family:courier; color:blue;">
                                                Login Form {{id}}
                                          </h3>

                                            {% include temp_address %}
                                            <hr>
                                          <br>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- form end -->

<script>
function mark(el) {
    el.style.border = "2px solid blue";
}
</script>

</body>
</html>